body {
  background-color: black;
  margin: 0;
  padding: 0;
  position: relative;
}

.box {
  width: 120px;
  height: 120px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 50%;
}

/* height: 135.5px */
/* width: 300px */

/* if top == 0 -> logo hit top corner */

/* if left == 0 -> logo hit left corner */

/* if top == window.innerHeight - 135.5px -> this logo hit bottom corner */

/* if left == window.innerWidth - 300px -> this logo hit right corner */
